.table {
    border-collapse: collapse
}

.table-cell {
    border-color: #000;
    border-style: solid;
}

.green {
    color: green;
}

.red {
    color: red;
}

.italic {
    font-style: italic;
}

.table-cell:hover {
    color: yellow;
}